<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>this is an admin page</h1>
    <form id="assignmentUploader">
        <div class="inputs">
            <label for="nameOfAssignment">Name:</label>
            <input type="text" placeholder="Name">

            <label for="dimensionOfAssignment">Dimension:</label>
            <input type="text" placeholder="Dimension">

            <label for="collegeOfAssignment">College:</label>
            <input type="text" placeholder="College">

            <label for="branchOfAssignment">Branch:</label>
            <input type="text" placeholder="Branch">

            <label for="priceOfAssignment">Price:</label>
            <input type="text" placeholder="Price">

            <label for="automatoinOFAssignment">Automation name:</label>
            <input type="text" placeholder="Automation Name">
        </div>
        <button type="button" onclick=uploadAssignment()>Submit</button>
    </form>


</body>
<script src="adminscript.js"></script>

</html>